body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #C2DEDC;
}

.big-container {
    display: flex;
    height: 450px;
    max-width: 600px; 
    background-color: white;
}

.item1 {
    flex-basis: 50%;
    margin: 0;
}

.text-container {
  flex-grow: 1;
}

.item1 img {
   height: 100%;
   width: 100%;  
}

h1 {
    margin: 0;
    /* font-size: 1.25em; */
}

p {
    font-size: 17px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.pic img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.nameDate-Pic .pic {
  display: inline-block;
  margin-right: 10px;
}

.nameDate-Pic .name {
  display: inline-block;
}

.name div {
    margin-bottom: 5px; 
  }

.item1 .text-container {
  padding: 20px;
}
